WORKOS_API_KEY=sk_test_your_api_key
WORKOS_CLIENT_ID=client_your_client_id
WORKOS_COOKIE_PASSWORD=replace_with_a_minimum_32_character_secret
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback
